/* add home page styles here */
form {
    padding: 20px;
    background-color: rgba(0, 95, 107, 0.5);
    color: white;
    box-shadow: 3px 3px 15px 3px #00000080;
    border-color:rgba(0, 68, 107, 0.5);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.welcome-message {
    font-size: 22px;
    font-weight: 500;
}

.error-message {
    display: inline;
    max-width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.inputs-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 5px 0px;
}

.buttons-div {
    margin-top: 20px;
}

input[type="button"] {
    background-color: rgb(132, 41, 168);
    border-radius: 3px;
    border-width: 0px;
    padding: 3px 7px;
    box-shadow: 1px 3px 0 rgb(73, 22, 131);
    transition: all .2s ease-in-out;
    margin: 0px 10px;
    font-size: 16px;
    color: white;
}

input[type="button"]:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 0 rgb(77, 182, 252);
}
